<div class="home-container">
  <div class="search-bar">
    <!-- Form thống kê doanh thu -->
    <form (ngSubmit)="getMonthlyRevenue()" style="display: flex; align-items: center; gap: 10px;">
      <label>Chọn năm:</label>
      <input type="number" [(ngModel)]="selectedYear" name="year" required>
      <button type="submit">Thống kê</button>
    </form>
    <!-- Tìm kiếm đơn hàng -->
    <div>
      <input type="text" [(ngModel)]="find" name="phone" placeholder="Nhập số điện thoại" style="width: 580px; margin-left: 30px;">
      <button (click)="findOrder()" style="margin-left: 10px;">Tìm kiếm</button>
    </div>
  </div>

  <!-- Bảng doanh thu hàng tháng -->
  <div class="revenue-table" *ngIf="showRevenueTable && monthlyRevenue">
    <table>
      <thead>
        <tr class="month-row">
          <th>Tháng</th>
          <th *ngFor="let month of months; let i = index">{{ i + 1 }}</th>
        </tr>
      </thead>
      <tbody>
        <tr class="revenue-row">
          <td>Doanh thu (VNĐ)</td>
          <td *ngFor="let revenue of monthlyRevenue">{{ revenue | number }}</td>
        </tr>
      </tbody>
    </table>
    <button (click)="closeRevenueTable()" class="close-revenue-btn">Đóng</button>
  </div>

  <!-- Danh sách hóa đơn -->
  <div class="bills-container">
    <div class="bill-card" *ngFor="let bill of bills">
      <div class="bill-info">
        <p class="bill-date">{{bill.day}}</p>
        <p class="bill-total">{{bill.totalBill}} VNĐ</p>
      </div>
      <button class="detail-button" (click)="getBillDetail(bill.billId)">Chi tiết</button>
    </div>

    <!-- Optional: Empty state -->
    <div class="no-bills" *ngIf="bills?.length === 0">
      Không tìm thấy hóa đơn nào
    </div>
  </div>

  <!-- Modal hiển thị chi tiết hóa đơn -->
  <div class="modal" *ngIf="selectedBillDetail">
    <div class="modal-content">
      <h2>Chi tiết hóa đơn</h2>
      <div>
        <p><strong>Bill ID:</strong> {{ selectedBillDetail.billId }}</p>
        <p><strong>Tên khách hàng:</strong> {{ selectedBillDetail.customerName }}</p>
        <p><strong>Ngày:</strong> {{ selectedBillDetail.day | date: 'dd/MM/yyyy HH:mm' }}</p>
        <p><strong>Phương thức thanh toán:</strong>
          {{ getPaymentMethodDisplay(selectedBillDetail.paymentMethod) }}
        </p>
        <h3>Chi tiết sản phẩm:</h3>

        <ul>
          <li *ngFor="let detail of selectedBillDetail.details">
            <p><strong>Tên Sản phẩm:</strong> {{detail.productName }}</p>
            <p><strong>Số lượng:</strong> {{ detail.quantity }}</p>
            <p><strong>Tổng tiền:</strong> {{ selectedBillDetail.totalBill }} VNĐ</p>
          </li>
        </ul>
      </div>
      <button (click)="closeModal()">Đóng</button>
    </div>
  </div>
</div>